#
Use Random Forest to prepare a model on fraud data treating those who have taxable_income <=30000 as "Risky" and others are"Good"

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
data=pd.read_csv('C:/Users/hride/OneDrive/Desktop/Downloads/Fraud_check (1).csv')
data.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO

In [7]:
#Converting the Taxable income variable to bucketing:
data["income"]="<=30000"
data.loc[data["Taxable.Income"]>=30000,"income"]="Good"
data.loc[data["Taxable.Income"]<=30000,"income"]="Risky"

In [8]:
# Droping the Taxable income variable :
data.drop(["Taxable.Income"],axis=1,inplace=True)

In [9]:
data.rename(columns={"Undergrad":"undergrad","Marital.Status":"marital","City.Population":"population","Work.Experience":"experience","Urban":"urban"},inplace=True)

In [10]:
data

    undergrad   marital  population  experience urban income
0          NO    Single       50047          10   YES   Good
1         YES  Divorced      134075          18   YES   Good
2          NO   Married      160205          30   YES   Good
3         YES    Single      193264          15   YES   Good
4          NO   Married       27533          28    NO   Good
..        ...       ...         ...         ...   ...    ...
595       YES  Divorced       39492           7   YES   Good
596       YES  Divorced       55369           2   YES   Good
597        NO  Divorced      154058           0   YES   Good
598       YES   Married      180083          17    NO   Good
599        NO  Divorced      158137          16    NO   Good

[600 rows x 6 columns]

In [11]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
for column_name in data.columns:
    if data[column_name].dtype == object:
        data[column_name] = le.fit_transform(data[column_name])
    else:
        pass

In [12]:
data.tail()

     undergrad  marital  population  experience  urban  income
595          1        0       39492           7      1       0
596          1        0       55369           2      1       0
597          0        0      154058           0      1       0
598          1        1      180083          17      0       0
599          0        0      158137          16      0       0

In [13]:
data["income"].value_counts()

0    476
1    124
Name: income, dtype: int64

In [14]:
#Splitting the data into features and labels:
features= data.iloc[:,0:5]
labels= data.iloc[:,5]

In [15]:
# Collecting the column names :
colnames = list(data.columns)
predictors = colnames[0:5]
target = colnames[5]

In [21]:
# Splitting data into training and testing data set

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(features,labels,test_size = 0.3,random_state=42)

In [22]:
# Model building :
from sklearn.datasets import make_classification
x, y = make_classification(n_samples=1000, n_features=4, n_informative=2, n_redundant=0, random_state=0, shuffle=False)

In [23]:
from sklearn.ensemble import RandomForestClassifier as RF
model = RF(max_depth=2, random_state=0)
model.fit(x_train,y_train)

RandomForestClassifier(max_depth=2, random_state=0)

In [24]:
# Predictions on train data :
prediction = model.predict(x_train)

In [25]:
# Accuracy :
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_train,prediction)
accuracy

0.7928571428571428

In [26]:
# Prediction on test data :
pred_test = model.predict(x_test)

In [27]:
# Accuracy :
acc_test =accuracy_score(y_test,pred_test)
acc_test

0.7944444444444444

In [28]:
##Confusion matrix
from sklearn.metrics import confusion_matrix
confusion = confusion_matrix(y_train,prediction)

In [29]:
confusion

array([[333,   0],
       [ 87,   0]], dtype=int64)